 <!DOCTYPE html>
 <html lang="en">
     <head>
         <meta charset="uf-8">
         <title>GTG Holiday</title>
     </head>
     <body>
         <a href="./about.html">About Us</a>
         <form action="/greet" method="get">
             <input type="text" autofocus autocomplete="off" placeholder="name">
             <input type="submit">
         </form>
         Welcome to GTG Holiday
         hello {{ name1 }}
         <img src="../templates/image/holiday.jpeg" alt="">
     </body>
 </html>